pluginbackups
﻿app/Config/core.php
app/Config/database.php
app/tmp/*
app/webroot/phpMyadmin/*
app/webroot/sliderImages/*
app/webroot/storeLogo/*
app/webroot/storeBackground-Image/*
app/webroot/storeReviewImage/*
app/webroot/MenuItem-Image/*
app/webroot/newsletterImage/*
app/webroot/merchantBackground-Image/*
app/webroot/merchantSliderImages/*
app/webroot/Offer-Image/*
app/webroot/merchantLogo/*
app/webroot/storeReviewImage/*
app/webroot/webserviceAdminLog/*
app/webroot/webserviceLog/*
app/webroot/Coupon-Image/*
app/webroot/Category-Image/*
app/webroot/StoreDeals-IconImage/*
app/webroot/StoreDeals-BgImage/*
app/webroot/FeatureSection-IconImage/*
app/webroot/FeatureSection-BgImage/*
app/webroot/uploads/*
app/Plugin/DebugKit/*
app/webroot/webserviceLog/*
app/webroot/storeLogo/*
app/webroot/js/kcfinder/*
app/webroot/newsletterImage/*
app/webroot/js/ckfinder/*
.idea/
app/webroot/Notification/*
app/.DS_Store
app/View/.DS_Store
app/webroot/.DS_Store
app/webroot/images/.DS_Store
app/webroot/img/.DS_Store
.vscode/sftp.json
.vscode/launch.json
/.project

app/Plugin/*
app/Controller/WebTestsController.php
app/Controller/WebServicesController.php
app/Controller/AdminServicesController.php
app/Controller/AdminTestsController.php
app/Controller/AppServicesController.php
app/Controller/AppAdminServicesController.php

