/* index 
   1) .theme-bg-1 = For Primary Button Color
   2) .theme-bg-2 = For Secondary Button Color
   3) .theme-txt-col-1 = For Primary Text Color
   4) .theme-txt-col-2 = For Secondary Text Color
   5) .theme-border-1 = For Primary Border Color
   6) .theme-border-2 = For Secondary Border Color
*/

.IOF-THEME-14 { font-family:'Nanum Gothic','Noto Sans', sans-serif !important;background-color:#eeeceb;}
.IOF-THEME-14.IOF-V .custom-header .main-container { padding:0;}
.IOF-THEME-14 div[id^="owl-demo"] .donut-menu-card .card-info { height:60px;padding:6px 0;overflow:hidden;}
.IOF-THEME-14 div[id^="owl-demo"] .donut-menu-card .img-wrap { height:230px;max-height:230px;display:table-cell;vertical-align:middle;}
.IOF-THEME-14 div[id^="owl-demo"] .item { height:292px;}
.IOF-THEME-14 #login-modal .modal-dialog,
.IOF-THEME-14 #guest-sign-up-modal .modal-dialog { height:325px;}
.IOF-THEME-14 input[type="radio"]:checked + label span { background-color:#ff5f7e;border:1px solid #3c3b39;}
.IOF-THEME-14 input[type="radio"] + label span { background-color:#ffffff;border-width:2px;border-style:solid;}
.IOF-THEME-14 .order-link:hover { background-color:rgba(255, 255, 255, 0.9);}

/* header */
.IOF-THEME-14 .custom-header .main-container { position:relative;}
.IOF-THEME-14 .log-in-header { bottom:0;left:0;position:absolute;}
.IOF-THEME-14 .arron-white-header { text-align:center;position:relative;padding:14px 0;}
.IOF-THEME-14 .custom-header .navbar-right { margin-top:6px;}

/* navigation */
.IOF-THEME-14.IOF-H .custom-header .vt-header { background-color:#f4f3f1;}
.IOF-THEME-14 .main-menu-list { display:table;width:100%;text-align:center;}
.IOF-THEME-14 .main-menu-list > li { display:table-cell;padding:0;}
.IOF-THEME-14.IOF-V .main-menu-list li { padding:3px;display:block;margin-bottom:4px;border-style:solid;border-width:3px;border-color:transparent;}
.IOF-THEME-14 .main-menu-list li a { display:block;padding:17px 15px;color:#424242;text-transform:uppercase;}
.IOF-THEME-14.IOF-V .main-menu-list li a { padding:11px 0;color:#ffffff !important;}
.IOF-THEME-14.IOF-V.IOF-COLOR-1 .main-menu-list li.active { background-color:#ffffff !important;}

/* home page main slider */
.IOF-THEME-14 .carousel-control,
.IOF-THEME-14 .carousel-indicators { display:none;}
.IOF-THEME-14 .center-title { bottom:150px;left:0;position:absolute;right:0;text-align:center;}
.IOF-THEME-14 .contact-info .fa-phone { border:1px solid;border-radius:50%;height:24px;margin-right:5px;padding:3px 0;vertical-align:middle;width:24px;}
.IOF-THEME-14 .slider-bg .open-mid { padding:30px 20px 15px;}
.IOF-THEME-14 .slider-bg .open-mid > h3 { font-size:29px;}
.IOF-THEME-14 .slider-bg .open-mid .time-list li { border-bottom:1px solid #787878;padding:7px 0;}
.IOF-THEME-14 .slider-bg .open-mid .time-list li span.lft-txt,
.IOF-THEME-14 .slider-bg .open-mid .time-list li span.rgt-txt { font-size:14px;}
.IOF-THEME-14 .contact-info { background-color:#3d3e3e;color:#ff5f7e;border-radius:3px;font-size:16px;padding:9px 0;text-align:center;height:45px;}
.IOF-THEME-14 .order-link { font-family:'Noto Serif', serif;font-weight:900;border:2px solid #fff;color:#fff;display:inline-block;font-family:'Nanum Gothic','Noto Sans', sans-serif;font-size:19px;padding:10px 0;text-align:center;width:310px;height:50px;}
.IOF-THEME-14 .order-link:hover { background-color:#ffffff !important;}
.IOF-THEME-14 .slider-bg .open-hours-card { width:325px;}
.IOF-THEME-14 .slider-bg .open-bottom { padding:0 20px 27px;}

/* home page bottom slider */
.IOF-THEME-14 .menu-title h3 { font-size:23px;font-weight:400;margin-bottom:20px;background-color:transparent; border:none; padding:0;}
.IOF-THEME-14 .owl-controls.clickable { position:absolute;right:0;top:-72px;}
.IOF-THEME-14 .card-info > h4,
.IOF-THEME-14 .card-info span { text-transform:uppercase;}

/* theme 1 */
.IOF-THEME-14.IOF-COLOR-1 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-1 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-1.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-1 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-1 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-1 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-1 input[type="radio"]:checked + label span:after { background-color:#AACDAA !important;}
.IOF-THEME-14.IOF-COLOR-1 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-1 .theme-bg-2 { background-color:#E05B5E !important;}
.IOF-THEME-14.IOF-COLOR-1 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-1 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-1 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-1 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-1.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-1 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-1 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-1.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-1.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-1 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-1 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-1 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-1 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-1 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-1 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-1 .deal-info > h3 { color:#AACDAA !important;}
.IOF-THEME-14.IOF-COLOR-1 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-1 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-1 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-1.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-1 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-1 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-1 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-1 .chole-login-popup .link-forgot-password:hover { border-color:#AACDAA !important;}
.IOF-THEME-14.IOF-COLOR-1 .order-link.theme-bg-2 { background-color:transparent !important;}
.IOF-THEME-14.IOF-COLOR-1 .order-link.theme-bg-2:hover { background-color:#ffffff !important;}

/* theme 2 */
.IOF-THEME-14.IOF-COLOR-2 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-2 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-2.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-2 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-2 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-2 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-2 input[type="radio"]:checked + label span:after { background-color:#FF3300 !important;}
.IOF-THEME-14.IOF-COLOR-2 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-2 .theme-bg-2 { background-color:#000000 !important;color:#ffffff;}
.IOF-THEME-14.IOF-COLOR-2 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-2 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-2 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-2 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-2.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-2 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-2 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-2.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-2.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-2 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-2 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-2 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-2 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-2 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-2 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-2 .deal-info > h3 { color:#FF3300 !important;}
.IOF-THEME-14.IOF-COLOR-2 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-2 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-2 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-2.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-2 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-2 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-2 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-2 .chole-login-popup .link-forgot-password:hover { border-color:#FF3300 !important;}

/* theme 3 */
.IOF-THEME-14.IOF-COLOR-3 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-3 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-3.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-3 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-3 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-3 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-3 input[type="radio"]:checked + label span:after { background-color:#F99C40 !important;}
.IOF-THEME-14.IOF-COLOR-3 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-3 .theme-bg-2 { background-color:#F4E1CF !important;}
.IOF-THEME-14.IOF-COLOR-3 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-3 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-3 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-3 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-3.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-3 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-3 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-3.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-3.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-3 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-3 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-3 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-3 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-3 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-3 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-3 .deal-info > h3 { color:#F4E1CF !important;}
.IOF-THEME-14.IOF-COLOR-3 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-3 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-3 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-3.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-3 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-3 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-3 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-3 .chole-login-popup .link-forgot-password:hover { border-color:#F99C40 !important;}

/* theme 4 */
.IOF-THEME-14.IOF-COLOR-4 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-4 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-4.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-4 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-4 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-4 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-4 input[type="radio"]:checked + label span:after { background-color:#5F3711 !important;}
.IOF-THEME-14.IOF-COLOR-4 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-4 .theme-bg-2 { background-color:#E1D5C1 !important;}
.IOF-THEME-14.IOF-COLOR-4 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-4 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-4 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-4 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-4.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-4 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-4 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-4.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-4.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-4 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-4 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-4 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-4 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-4 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-4 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-4 .deal-info > h3 { color:#E1D5C1 !important;}
.IOF-THEME-14.IOF-COLOR-4 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-4 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-4 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-4.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-4 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-4 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-4 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-4 .chole-login-popup .link-forgot-password:hover { border-color:#5F3711 !important;}

/* theme 5 */
.IOF-THEME-14.IOF-COLOR-5 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-5 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-5.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-5 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-5 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-5 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-5 input[type="radio"]:checked + label span:after { background-color:#FBEBD5 !important;}
.IOF-THEME-14.IOF-COLOR-5 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-5 .theme-bg-2 { background-color:#DA4D2F !important;}
.IOF-THEME-14.IOF-COLOR-5 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-5 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-5 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-5 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-5.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-5 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-5 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-5.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-5.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-5 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-5 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-5 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-5 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-5 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-5 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-5 .deal-info > h3 { color:#DA4D2F !important;}
.IOF-THEME-14.IOF-COLOR-5 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-5 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-5 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-5.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-5 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-5 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-5 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-5 .chole-login-popup .link-forgot-password:hover { border-color:#FBEBD5 !important;}

/* theme 6 */
.IOF-THEME-14.IOF-COLOR-6 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-6 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-6.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-6 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-6 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-6 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-6 input[type="radio"]:checked + label span:after { background-color:#e8e8e8 !important;}
.IOF-THEME-14.IOF-COLOR-6 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-6 .theme-bg-2 { background-color:#0c0636 !important;}
.IOF-THEME-14.IOF-COLOR-6 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-6 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-6 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-6 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-6.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-6 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-6 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-6.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-6.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-6 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-6 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-6 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-6 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-6 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-6 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-6 .deal-info > h3 { color:#e8e8e8 !important;}
.IOF-THEME-14.IOF-COLOR-6 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-6 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-6 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-6.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-6 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-6 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-6 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-6 .chole-login-popup .link-forgot-password:hover { border-color:#e8e8e8 !important;}

/* theme 7 */
.IOF-THEME-14.IOF-COLOR-7 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-7 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-7.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-7 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-7 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-7 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-7 input[type="radio"]:checked + label span:after { background-color:#DAA520 !important;}
.IOF-THEME-14.IOF-COLOR-7 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-7 .theme-bg-2 { background-color:#000000 !important;color:#ffffff;}
.IOF-THEME-14.IOF-COLOR-7 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-7 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-7 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-7 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-7.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-7 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-7 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-7.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-7.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-7 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-7 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-7 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-7 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-7 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-7 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-7 .deal-info > h3 { color:#000000 !important;}
.IOF-THEME-14.IOF-COLOR-7 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-7 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-7 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-7.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-7 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-7 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-7 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-7 .chole-login-popup .link-forgot-password:hover { border-color:#DAA520 !important;}

/* theme 8 */
.IOF-THEME-14.IOF-COLOR-8 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-8 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-8.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-8 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-8 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-8 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-8 input[type="radio"]:checked + label span:after { background-color:#990100 !important;}
.IOF-THEME-14.IOF-COLOR-8 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-8 .theme-bg-2 { background-color:#000000 !important;color:#ffffff;}
.IOF-THEME-14.IOF-COLOR-8 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-8 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-8 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-8 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-8.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-8 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-8 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-8.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-8.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-8 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-8 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-8 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-8 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-8 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-8 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-8 .deal-info > h3 { color:#000000 !important;}
.IOF-THEME-14.IOF-COLOR-8 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-8 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-8 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-8.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-8 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-8 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-8 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-8 .chole-login-popup .link-forgot-password:hover { border-color:#990100 !important;}

/* theme 9 */
.IOF-THEME-14.IOF-COLOR-9 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-9 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-9.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-9 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-9 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-9 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-9 input[type="radio"]:checked + label span:after { background-color:#46382B !important;}
.IOF-THEME-14.IOF-COLOR-9 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-9 .theme-bg-2 { background-color:#717F3E !important;}
.IOF-THEME-14.IOF-COLOR-9 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-9 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-9 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-9 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-9.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-9 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-9 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-9.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-9.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-9 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-9 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-9 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-9 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-9 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-9 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-9 .deal-info > h3 { color:#717F3E !important;}
.IOF-THEME-14.IOF-COLOR-9 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-9 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-9 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-9.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-9 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-9 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-9 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-9 .chole-login-popup .link-forgot-password:hover { border-color:#46382B !important;}

/* theme 10 */
.IOF-THEME-14.IOF-COLOR-10 .theme-bg-1,
.IOF-THEME-14.IOF-COLOR-10 input[type="radio"]:checked + label span,
.IOF-THEME-14.IOF-COLOR-10.IOF-V .main-menu-list li,
.IOF-THEME-14.IOF-COLOR-10 footer .footer-bottom,
.IOF-THEME-14.IOF-COLOR-10 .fav-order-history .nav-tabs > li > a::after,
.IOF-THEME-14.IOF-COLOR-10 .chole-black-top .account-access a:hover,
.IOF-THEME-14.IOF-COLOR-10 input[type="radio"]:checked + label span:after { background-color:#FECE06 !important;}
.IOF-THEME-14.IOF-COLOR-10 .theme-bg-1:not(.ext-menu):not(.common-title):not(.open-top):not(.vt-header):hover,
.IOF-THEME-14.IOF-COLOR-10 .theme-bg-2 { background-color:#000000 !important;color:#ffffff;}
.IOF-THEME-14.IOF-COLOR-10 .theme-txt-col-1,
.IOF-THEME-14.IOF-COLOR-10 [type="checkbox"]:not(:checked) + label::after,
.IOF-THEME-14.IOF-COLOR-10 [type="checkbox"]:checked + label::after,
.IOF-THEME-14.IOF-COLOR-10 .arrow-down .fa.fa-caret-down,
.IOF-THEME-14.IOF-COLOR-10.IOF-V .main-menu-list li.active a,
.IOF-THEME-14.IOF-COLOR-10 .rating-container .rating-stars,
.IOF-THEME-14.IOF-COLOR-10 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-10.IOF-H .main-menu-list > li.active a,
.IOF-THEME-14.IOF-COLOR-10.IOF-H .main-menu-list > li:hover a,
.IOF-THEME-14.IOF-COLOR-10 .fav-order-history .nav-tabs > li.active > a,
.IOF-THEME-14.IOF-COLOR-10 .fav-order-history .nav-tabs > li > a:hover,
.IOF-THEME-14.IOF-COLOR-10 .fav-order-history .reorder i,
.IOF-THEME-14.IOF-COLOR-10 .reorder.orderColor:hover,
.IOF-THEME-14.IOF-COLOR-10 .order-link.theme-bg-2:hover,
.IOF-THEME-14.IOF-COLOR-10 .left-menu .panel-title > a[aria-expanded="true"].item_link,
.IOF-THEME-14.IOF-COLOR-10 .deal-info > h3 { color:#000000 !important;}
.IOF-THEME-14.IOF-COLOR-10 .theme-border-1,
.IOF-THEME-14.IOF-COLOR-10 input[type="radio"] + label span,
.IOF-THEME-14.IOF-COLOR-10 .pay-check [type="checkbox"]:checked + label::before,
.IOF-THEME-14.IOF-COLOR-10.IOF-V .main-menu-list li.active,
.IOF-THEME-14.IOF-COLOR-10 .carousel-indicators > li.active,
.IOF-THEME-14.IOF-COLOR-10 .carousel-fade .carousel-control,
.IOF-THEME-14.IOF-COLOR-10 .modal-dialog,
.IOF-THEME-14.IOF-COLOR-10 .chole-login-popup .link-forgot-password:hover { border-color:#FECE06 !important;}